.profile {
  display: flex;
  width: 100%;
  .profile__video-grid {
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  .profile__data {
    margin-right: 50px;
    max-width: 420px;
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 27px;
      font-weight: 600;
    }
    .profile__data--username {
      opacity: 0.4;
      font-weight: 300;
    }
  }
  .auth-switch--profile {
    width: inherit;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    a {
      text-decoration: none;
    }
  }
}
